<div class="w-full flex justify-between bg-white shadow-md">
	<div>
		<a href="{{ path('app_home') }}">
			<img src="{{ asset('images/logo.webp') }}" class="w-35" alt="Meal Chooser Logo">
		</a>
	</div>
	<div class="items-center pr-8 flex">
		<nav>
			<ul class="flex gap-4">
				<li>Home</li>
				<li>
					<a href="{{ path('app_repas_create')}}">Création de repas</a>
				</li>
				<li>
					<a href="{{path('app_semaine_home')}}">Générer une semaine de repas</a>
				</li>
				<li>
					<a href="{{ path('app_repas_list') }}">Les repas</a>
				</li>
			</ul>
		</div>
	</nav>
</div>
